:root {
  --slide-transform: 0;
  --transition: transform 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

i,
button,
a {
  cursor: pointer;
}

/* font-family: 'Alfa Slab One', cursive;
font-family: 'Boogaloo', cursive; */

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

body {
  touch-action: manipulation;
}

nav {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  z-index: 1;
  background-color: black;
  top: 0;
  bottom: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-family: 'Boogaloo', cursive;
}

nav a:hover {
  text-decoration: underline;
  color: rgb(255, 183, 0);
}

.fa-x {
  position: absolute;
  font-size: 2.8rem;
  top: 30px;
  right: 30px;
  color: white;
}

.fa-x:hover {
  color: rgb(0, 255, 242);
}

.info_title {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(0, 153, 255);
  position: relative;
  border-top-left-radius: 100%;
}

.info_title::before {
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-color: rgb(255, 195, 32);
}

.fa-bars {
  position: absolute;
  font-size: 3rem;
  top: 10px;
  left: 15px;
}

.fa-bars:hover {
  color: rgb(0, 153, 255);
}

.info_title h1 {
  font-family: 'Alfa Slab One', cursive;
  font-weight: 500;
  font-size: 2.6rem;
  color: rgb(255, 255, 255);
  letter-spacing: 1.2px;
}

.info_title span {
  font-size: 2.8rem;
  font-weight: 900;
  color: white;
}

.info_title p {
  min-width: 200px;
  max-width: 370px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Boogaloo', cursive;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-size: 1.6rem;
}

.info_title a {
  text-decoration: none;
  text-align: center;
  width: 100px;
  padding: 10px;
  font-family: 'Boogaloo', cursive;
  font-size: 1.3rem;
  color: white;
  border: none;
  background-color: black;
  border-radius: 15px;
}

.info_title a:hover {
  color: yellow;
  transform: scale(1.1);
}

.cards_foods {
  max-width: 250px;
  border: 4px solid #fff;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}

.slider {
  display: flex;
  transform: translateX(var(--slide-transform));
  transition: var(--transition);
}

.food_card_ad {
  min-width: 250px;
  max-width: 500px;
  height: 200px;
  background-color: blueviolet;
  scroll-snap-align: center;
}

menu {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(0, 0, 0);
}

menu h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: rgb(0, 0, 0);
}

menu input {
  min-width: 290px;
  max-width: 400px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: grey;
  font-family: 'Boogaloo', cursive;
  font-size: 1.2rem;
  letter-spacing: 0.9px;
}

menu input:focus {
  outline: none;
}

menu input::placeholder {
  color: white;
  font-family: 'Boogaloo', cursive;
}

.filter_buttons {
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.filter_buttons button {
  border: flex;
  padding: 5px;
  width: 80px;
  border-radius: 10px;
  margin: 5px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-family: 'Boogaloo', cursive;
}

.products_cards {
  display: flex;
  width: 95vw;
  justify-content: center;
}

.catalog_products {
  width: 100%;
  max-width: 500px;
  height: 80%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 80px;
  gap: 20px;
  border: 1px solid yellow;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card_product_filter {
  min-width: 100%;
  height: 80%;
  background-color: red;
  opacity: 0.1;
  transition: opacity 0.5s;
  transition: transform 0.111s;
  box-shadow: 0px 0px 20px 10px rgba(71, 71, 71, 0.186);
  border-radius: 20px;
  scroll-snap-align: center;
}

.card_product_filter:nth-child(2) {
  background-color: blueviolet;
}

.card_product_filter:nth-child(3) {
  background-color: green;
}

.card_product_filter:nth-child(4) {
  background-color: aquamarine;
}

.filter_prices button {
  padding: 5px;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-family: 'Boogaloo', cursive;
}

.all_products {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all_products h1 {
  font-family: 'Alfa Slab One', cursive;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 1.2px;
}

.drinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid red;
}

.card_product {
  border: 1px solid black;
  min-width: 200px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.contact_container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact_redes {
  text-align: center;
  max-width: 300px;
}

.contact_redes h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.contact_redes p {
  font-family: 'Boogaloo', cursive;
  font-size: 1.5rem;
  font-weight: 100;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20vh;
  padding: 2px;
  border: 1px solid green;
}

.copyright {
  text-align: start;
  font-family: 'Boogaloo', cursive;
}

footer > div {
  padding: 2px;
  border: 1px solid black;
  width: 33%;
}

footer h1 {
  font-size: 0.9rem;
  font-family: 'Alfa Slab One', cursive;
  font-weight: 100;
  text-decoration: underline;
}

.redes_footer a,
p {
  text-decoration: none;
  font-family: 'Boogaloo', cursive;
  font-size: 1rem;
  font-weight: 100;
  display: block;
  color: blue;
}
